@using bz=Blazorise
@using BlazorPro.BlazorSize
@code{

    private bz.Theme theme = new bz.Theme
    {
        IsGradient = true,
        IsRounded = true,
        ColorOptions = new bz.ThemeColorOptions
        {
            Primary = "#45B1E8",
            Secondary = "#A65529",
    // other
        }
    };

}

<MediaQueryList>
    <Blazorise.ThemeProvider Theme="@theme">

        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </Blazorise.ThemeProvider>
</MediaQueryList>
<MatPortalHost></MatPortalHost>